*{
	background-color:rgb(190, 241, 245) ;
}


.nav-bar ul li{
	text-decoration: none;
	color: black;
	display: inline-block;
	padding-left: 25px;
}
.nav-bar ul li a{
	text-decoration: none;
	color: black;
	background-color: rgb(240, 240, 240);
	font-size: 25px;
}
.nav-bar ul li a:hover{
	background-color: burlywood;
	transition: .5s;
}